{% extends "base.html" %}
{%block data %}
<script type=text/javascript>
    var books = {{ result|tojson|safe }};
</script>
{% endblock %}
{% block title %}ISAW New Titles Map {{ period }}{% endblock %}
{% block content %}
    <div class="container jumbotron">
        <h1 style="text-align: center;">ISAW Library New Titles Map Data</h1>
        {%if period %}<h2 style="text-align: center;">{{period }}</h2>{% endif %}

        <div id="grid" style="margin: 0 auto; max-width:800px; min-height: 500px; border: 1px solid #AAA; background: white; padding: 10px;">
          <table style="border: 1px solid black;">
          <tr>
            <th style="border: 1px solid black;">Date</th>
            <th style="border: 1px solid black;">BSN</th>
            <th style="border: 1px solid black;">Latitude</th>
            <th style="border: 1px solid black;">Longitude</th>
          </tr>

          {% for r in result %}
          <tr style="border: 1px solid black;">
                        <td style="padding: 3px; border: 1px solid black;">{{ r['date'] }}</td>
            <td style="padding: 3px; border: 1px solid black;">{{ r['bsn'] }}</td>
            <td style="padding: 3px; border: 1px solid black">{{ r['latitude'] }}</td>
            <td style="padding: 3px; border: 1px solid black">{{ r['longitude'] }}</td>
          </tr>


          {% endfor %}
                    </table>
        </div>
      </div>

    <div class="month_nav" style="text-align: center;">
      <a href="{{ url_for('title_grid_by_month', year=prev_year,
            month=prev_month) }}">Previous</a> | <a href="{{ url_for('title_grid_by_month', year=next_year,
                  month=next_month) }}">Next</a><br>
                  <p style="text-align: center;"><a href="{{ url_for('titles_by_month', year=year,
                        month=month) }}">Show Map</a></p>
    <div>
{% endblock %}
