{% extends "base.html" %}
{%block data %}
<script type=text/javascript>
    var books = {{ result|tojson|safe }};
</script>
{% endblock %}
{% block title %}ISAW New Titles Map {{ period }}{% endblock %}
{% block content %}
    <div class="container jumbotron">
        <h1>ISAW Library New Titles Map</h1>
        {%if period %}<h2>{{period }}</h2>{% endif %}
        <div id="map"></div>
    </div>
    <div class="month_nav">
      <a href="{{ url_for('titles_by_month', year=prev_year,
            month=prev_month) }}">Previous</a> | <a href="{{ url_for('titles_by_month', year=next_year,
                  month=next_month) }}">Next</a><br>
                  <p><a href="{{ url_for('title_grid_by_month', year=year,
                        month=month) }}">Show Grid</a></p>
    <div>
{% endblock %}
